/* Basic styling */
body {
  background-image: url('/Public/Images/background_image.png'); 
  background-size: cover;
  background-position: center;
    font-family: Arial, sans-serif;
    transition: margin-left 0.3s;
    height: 100vh;
  }

.root {
  --image-filter: brightness(0) invert(1);
}

  /* Điều chỉnh màu của social icon khi hover */
.social-icon:hover::after,
.social-icon.active::after {
    background-color: #000000; /* Đổi màu gạch chân thành đen */
}

/* Điều chỉnh hiệu ứng drop shadow cho icon active */
.social-icon.active img {
    -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
}

.social-icons-container {
    display: flex;
    gap: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.social-icon {
    cursor: pointer;
    position: relative;
    opacity: 0.6; 
    transition: all 0.3s ease; 
}

.social-icon img {
    transition: all 0.3s ease;
}

.social-icon:hover {
    opacity: 0.8;
}

.social-icon.active {
    opacity: 1;
    transform: scale(1.1);
}

.social-icon.active img {
    filter: brightness(1.2);
  
    -webkit-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}


.social-icon::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #ffffff;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.social-icon:hover::after,
.social-icon.active::after {
    width: 100%;
}


.dark-mode .social-icon.active img {
    -webkit-filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
}

.increase-icon-header, .decrease-icon-header {
    width: 20px;
    height: 30px;
}

.increase-icon-header img {
    color: green;
}

.decrease-icon-header img{
    color: red;
}

.back-arrow-button, .setting_button_container {
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;
}

.back-arrow-button img, .setting_button_container img, .ig-logo-container img {
  width: 100%;
  height: 100%;
}
  
  /* Open menu button */
  #openNav {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }
  
  /* Side Navigation */
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 10;
    color: white;
  }
  
  /* Navigation Content */
  .nav-content {
    padding: 15px;
  }
  
  .nav-content a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  .nav-content a:hover {
    background-color: #575757;
  }
  
  /* Close button */
  #closeNav {
    font-size: 30px;
    color: white;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  /* General reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Top Navigation Bar Styling */
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .nav-button {
    font-size: 20px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  .head-logo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    cursor: context-menu;
    font-family: 'Roboto', sans-serif;
  }
  
  .settings-button {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  /* Grid Container for the 2x2 Layout */
  .grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 600px;
  }
  
  /* Logo Block */
  .logo, .column-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    background-color: white;
  }

  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .main-table {
    border-spacing: 10px; 
  }

  .data-cell {
    width: 250px;
    height: 80px;
  }
  
  /* Individual Property Style */
  .property {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: center;
    padding: 15px 50px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    gap: 8px;
    background-color: white;
  }

  .word {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
    color: white;
  }

  .change {
    display: flex;
    max-width: 40px;
    max-height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    gap: 3px;
}

.increase-icon, .decrease-icon {
  width: 70%;
  height: 70%;
}

.increase-icon {
  filter: invert(69%) sepia(78%) saturate(5033%) hue-rotate(100deg) brightness(95%) contrast(86%);
}

.decrease-icon {
  filter: invert(8%) sepia(87%) saturate(7497%) hue-rotate(346deg) brightness(110%) contrast(94%);
}